.item{
  width:90%;
  background:#fff;
  padding:10px 30px;
  border-radius:10px;
  .header{
    border-bottom:1px solid #ddd;
    overflow:hidden;
    .title{
      font-size:25px;
      font-weight:500;
      width:80%;
    }
    .extra{
      width:20%;
      float:right;
      margin-bottom:10px;
      &>p{
        font-size:16px;
        margin-bottom:10px;
      }
    }
  }
  .content{
    font-size:16px;
  }
}