.item{
  width:90%;
  height:260px;
  padding:10px 30px;
  border-radius:10px;
  overflow: hidden;
  background:#fff;
  .header{
    border-bottom:1px solid #ddd;
    overflow:hidden;
    .title{
      font-size:25px;
      font-weight:500;
      width:80%;
    }
    .extra{
      /*width:20%;*/
      float:right;
      margin-bottom:10px;
      &>p{
        margin-bottom:10px;
      }
    }
  }
  .content{
    &:after{
      content:"点击阅读更多>>";
      color:green;
    }
  }
}

.editor{
  .header{
    display:inline-block;
    button{
      cursor:pointer;
      padding:2px 4px;
    }
  }

  .shortcut{
    display:inline-block;
    img{
      margin-left:15px;
      height:26px;
      cursor:pointer;
      vertical-align:middle;
    }
  }

  .editor{
    width:100%;
    margin-top:20px;
    padding:8px;
    border:1px solid #d1d5da;
    border-radius: 3px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    &:focus{
      border-color: #49a9ee;
      outline: 0;
      box-shadow: 0 0 0 2px rgba(16, 142, 233, 0.2);
    }
  }
  textarea{
    width:100%;
    line-height: 22px;
    font-size:14px;
  }


}