<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客</title>
    <link rel="stylesheet" href="/stylesheets/common.css">
    <style>
        html,body{
           height:100%;
        }
        #app{
            min-height:100%;
        }
    </style>
</head>
<body>
<div id="subscriber"></div>
<script src="/javascripts/subscriber/__build__/shared.js"></script>
<script src="/javascripts/subscriber/__build__/app.js"></script>
<script src="//at.alicdn.com/t/font_qbjdj78peoim5cdi.js"></script>
</body>
</html>