.create-blog-form{
  width:90%;
  margin:auto;
  .ant-form-text{
    font-size:20px;
  }
  input,.ant-select-selection{
    height:40px;
    font-size:14px;
  }
}

.add-form{
  display:inline;
  margin-left:20px;
  opacity:0;
  transition:all 1s;
  &.show{
    opacity:1;
    width:800px;
  }
}

.tag{
  margin-left:20px;
  padding:8px 12px;
  height:36px;
}


#home{
  a{
    color:#585858;
  }
}


#blog{
  [name=title]{
    text-align:center;
    font-size:25px;
    [name=tag]{
      float:right;
    }
  }
  #blog-content{
    margin-bottom:20px;
  }
  .comment{
    h4{
      font-size:20px;
    }
  }
  .comment-item{
    margin:15px 0;
    .operation{
      text-align:right;
      button{
        margin-left:20px;
      }
    }
    .reply{
      margin-top:10px;
      button{
        margin-top:10px;
        float:right;
      }
    }
  }
}

.hide{
  display:none;
}