.add-tag-form{
  display:inline;
  margin-left:20px;
  opacity:0;
  transition:all 1s;
  &.show{
    opacity:1;
    width:800px;
  }
}

.tag{
  font-size:16px;
  margin-left:20px;
  padding:8px 12px;
  height:36px;
}


#home{
  a{
    color:#585858;
  }
}


#blog{
  text-align:center;
  [name=title]{
    font-size:25px;
    [name=tag]{
      float:right;
      font-size:16px;
    }
  }
  #blog-content{
    font-size:16px;
  }
}
